<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string>hmsl</string>
    <key>CFBundleIdentifier</key>
    <string>com.Mobileer.JuceHMSL</string>
    <key>CFBundleName</key>
    <string>HMSL</string>
    <key>CFBundleDisplayName</key>
    <string>HMSL</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>HMSL_VERSION_PLIST</string>
    <key>CFBundleVersion</key>
    <string>HMSL_VERSION_PLIST</string>
    <key>NSHumanReadableCopyright</key>
    <string>(C) 2019 Mobileer Inc</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>HMSL keeps your pieces and tools in a work folder, which may be in Documents.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
  </dict>
</plist>
